/* IMPORTAR FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto&display=swap');

*{
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration:none;
  font-family:sans-serif;

}
.container {
 
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.encabezado {
  width: 100%;
  height:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: black;

}

.container__titulo {

color:white;
  font-family: 'Limelight';
  font-size: 50px;
  letter-spacing:1rem;

}

.container__subtitulo {
  font-family: 'Limelight';

  letter-spacing:1rem;
  color:white;

  
  
}

.formulario__nav {
  width: 100%;
  height:100px;
 
  display: flex;
  justify-content: space-around;
  background-image:url(./images/PELICULA.png);
  background-size:contain;
  margin-bottom: 20px;

}
.listado, .buscar__pelicula, .add__pelicula, .btn{
  font-family: 'Limelight';
  font-size: 1.5rem;
  background:none;
  border: none;
  cursor:pointer;
}
.listado:hover, .buscar__pelicula:hover, .add__pelicula:hover, .btn:hover{
color:grey;
}
.formulario__buscar{
  width:100%;
  border: none;
  display: none;
  margin-bottom: 20px;
  
}
.buscar__pelicula--texto {
 
  font-size: 1.5rem;
  width:100%;
  padding:5px;
  border: none;

}

.datos__pelicula {
  display: none;
}

.div__peliculas {
  display: none;
  width: 100%;


}


.card__pelicula {
  border: 1px solid rgb(81, 82, 82);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: azure;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.28);
  width:100%;
  padding: 10px; 
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: 1rem;
  column-gap: 30px;



}


.card__pelicula--imagen {
  border: 1px solid none;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1/ 5;
}
.card__pelicula--year, .card__pelicula--director, .card__pelicula--reparto{
  /*border: 1px solid black;*/
  display:flex;
  flex-direction: row;
  font-weight: bold;
 
}
.card__pelicula--year--p,.card__pelicula--director--p, .card__pelicula--reparto--p{
  font-weight:normal;
  margin-left:10px;

}
.card__pelicula--titulo{
  font-weight: bold;
color: #55657a;

}
.card__pelicula--busqueda{
  width:100%;
}
.parrafo{
  display:none;
  border: 1px solid rgb(81, 82, 82);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: azure;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.28);
  width:100%;
  padding: 10px; 

}
.datos__pelicula{
  border: 1px solid rgb(81, 82, 82);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: azure;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.28);
  width:100%;
  padding: 10px;

  display: none;
  flex-direction: column;
  gap: 10px;
}
.datos__pelicula input{
  font-size: 1rem;
  color:  #55657a;
}
.add__pelicula--new{
  width:20%;
}
.card__favorito{
  display: flex;
  justify-content:space-between;
  color:#55657a;
}
.chck__fav, .card__pelicula--titulo{
  color: #55657a;
}
